.misc1, .miscDetail {
	background-color: aqua;
	border: solid red;
	color: red;
}

.hostBinding1 {
	font-style: italic;
}

:host {
  display: block;
  border: dotted greenyellow;
  font-size: 21px;
}
