<h1>Hello from Detail</h1>
<!--<form autocomplete="off">-->
	<!--<div class="form-group">-->
		<!--<label for="alterEgo">Alter Ego</label>-->
		<!--<input type="text" class="form-control" id="alterEgo"-->
		       <!--[(ngModel)]="alterEgo" name="alterEgo" placeholder="fill in the alter ego">-->
	<!--</div>-->
<!--</form>-->
<div class="misc1">misc1</div>
<div class="miscGlobal">miscGlobal</div>
<div class="miscApp">miscApp</div>
<div class="miscDetail">miscDetail</div>
<router-outlet></router-outlet>
