.misc1, .miscDetail {
  background: url('../../images/photoConfigOff2.jpg') no-repeat;
  background-position: right;
	background-color: aqua;
	border: solid red;
	color: red;
}

.hostBinding1 {
	font-style: italic;
}

:host {
  display: block;
  border: dotted greenyellow;
  font-size: 15px;
}
