<span class="glyphicon form-control-feedback"
      [style.display]="useInternalGlyphicon ? 'inline' : 'none'" aria-hidden="true"></span>
<div [hidden]="dontShowAlerts" class="alert alert-danger">
  <div *ngFor="let alert of alerts">{{alert}}</div>
</div>
<!--<div [hidden]="dontShowAlerts" class="alert alert-danger">-->
  <!--<template ngFor let-alert [ngForOf]="alerts">{{alert}}</template>-->
<!--</div>-->
<!--<template [ngIf]="!dontShowAlerts">-->
  <!--<template ngFor let-alert [ngForOf]="alerts">{{alert}}</template>-->
<!--</template>-->
