html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

span.active {
  background-color: gray;
}

.misc1, .miscApp {
  background: url('../images/photoConfigOn1.jpg') no-repeat;
  background-position: right;
  background-color: #ffbb53;
  border: solid red;
  color: blue;
}

.hostBinding1 {
  font-weight: bolder;
}
