html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.miscApp, .misc1 {
  background: url('../images/photoConfigOn1.jpg') no-repeat;
  background-position: right;
  background-color: #ffbb53;
  border: solid red;
  color: blue;
}
