/**
 * jisr-default-theme.css
 */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

app * {
  animation-name: animateIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
    /*transform: rotate(0deg);*/
  }
  to {
    opacity: 1;
    transform: translateX(0);
    /*transform: rotate(360deg);*/
  }
}

/** app {*/
  /*animation-name: animateOut;*/
  /*animation-duration: 0.5s;*/
  /*animation-iteration-count: 1;*/
  /*animation-direction: normal;*/
  /*animation-timing-function: ease-out;*/
  /*animation-fill-mode: forwards;*/
  /*opacity: 1;*/
/*}*/

/*@keyframes fadeOut {*/
  /*from {*/
    /*opacity: 1;*/
  /*}*/
  /*to {*/
    /*opacity: 0;*/
    /*transform: translateY(100%);*/
  /*}*/
/*}*/

.misc1, .miscGlobal {
	background-color: aqua;
	border: solid red;
	color: green;
}

.hostBinding1 {
	font-style: italic;
}
