<div class="card-container">
  <h1 x-large class="sample-content">Your Content Here</h1>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button md-raised-button color="primary">Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <br>
    <pre>[app] this.localState = {{ localState | json }}</pre>
    <pre>[home] this.authService = {{ authService | json }}</pre>

  </div>

  <div class="misc1">misc1 {{ birthday | date:'fullDate' }}</div>
  <div class="miscGlobal">miscGlobal</div>
  <div class="miscHome">miscHome</div>
  <img src="../../images/fullscreen-back2.jpg" height="20px"> [home] just a simple &lt;img src="../../images/fullscreen-back2.jpg"&gt;
  <br><br>
  <address>
    <strong>Twitter, Inc. <i class="glyphicon glyphicon-glass"></i></strong><br>
    San Francisco, CA 94103<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890<br>
    <a href="mailto:#">first.last@example.com</a><br><br>
    <img src="{{testImage1}}" height="20px"> [home] using in component: testImage1 = require('../../images/photoConfigOn1.jpg');
  </address>

</div>
