/*styles for home content only*/
.misc1, .miscHome {
  background: url('../../images/home.png') no-repeat;
  background-position: right;
	background-color: aqua;
	border: solid red;
	color: blue;
}

address {
  margin-bottom: 0;
}
